services:
  openrouteservice:
    container_name: ors
    restart: unless-stopped
    image: openrouteservice/openrouteservice:latest
    ports:
      - "8082:8082"
      - "9005:9001"
    volumes:
      - ./ors/graphs:/home/ors/graphs # Mount graphs directory individually
      - ./ors/elevation_cache:/home/ors/elevation_cache # Mount elevation cache directory individually
      - ./ors/config:/home/ors/config # Mount configuration directory individually
      - ./ors/logs:/home/ors/logs # Mount logs directory individually
      - ./osm/turkey-latest.osm.pbf:/home/ors/files/turkey-latest.osm.pbf
    environment:
      TZ: Europe/Athens
      REBUILD_GRAPHS: False # Set to True to rebuild graphs on container start.
      CONTAINER_LOG_LEVEL: INFO # Log level for the container. Possible values: DEBUG, INFO, WARNING, ERROR, CRITICAL
      # ------------------ JAVA OPTS ------------------ #
      # Configure the memory settings for JAVA or pass additional opts
      # Fore more available ENV properties see Prepare CATALINA_OPTS and JAVA_OPTS
      # in https://github.com/GIScience/openrouteservice/blob/main/docker-entrypoint.sh
      XMS: 1g # start RAM assigned to java
      XMX: 5g # max RAM assigned to java. Rule of Thumb: <PBF-size> * <profiles> * 2
      # Example: 1.5 GB pbf size, two profiles (car and foot-walking)
      # -> 1.5 * 2 * 2 = 6. Set xmx to be AT LEAST `-Xmx6g`
      ADDITIONAL_JAVA_OPTS: "" # further options you want to pass to the java command

      # ----------------- Properties configuration ------------------- #
      # Configure your whole container with only property ENVs.
      # These can be set alternatively or additionally to the yml configuration file.
      # Note, that any values set will override the corresponding values from the yml configuration file.
      # See the ors-config.env file for more options.
      # To have a configuration file-less container, uncomment at least the following properties.
      # The values are examples and provide the default configuration.
      ors.engine.profile_default.build.source_file: /home/ors/files/turkey-latest.osm.pbf
      ors.engine.profiles.driving-car.enabled: true
      ors.engine.profiles.cycling-electric.enabled: true
      ors.engine.profiles.foot-walking.enabled: true
    # ----------------- ENV file configuration ------------------- #
    # Too many variables for your 'environment:' section?
    # Use an env_file with the ENV properties instead and define everything in there:
    # Values will be overwritten if set in the 'environment' section.
    #env_file: ors-config.env

    # ----------------- Healthcheck configuration ------------------- #
    # The healthcheck is disabled by default. Uncomment the following lines to enable it.
    # The healthcheck allows you to monitor the status of the ORS application.
    # Be careful with long graph builds, as the healthcheck will fail and show 'unhealthy' during this time.
    # This is especially useful if you run your ORS container in a production environment.
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8082/ors/v2/health || exit 1
      start_period: 1m
      interval: 10s
      timeout: 2s
      retries: 3
      disable: false
  db:
    container_name: ops-db
    image: postgis/postgis:16-3.4
    volumes:
      - postgis-data:/var/lib/postgresql
    environment:
      # If you need to create multiple database you can add coma separated databases eg gis,data
      - POSTGRES_DB=gis
      - POSTGRES_USER=gis_admin # Here it's important to keep the same name as the one configured inside ops_settings_docker.yml
      - POSTGRES_PASSWORD=admin # Here it's important to keep the same name as the one configured inside ops_settings_docker.yml
      - POSTGRES_DBNAME=gis # Here it's important to keep the same name as the one configured inside ops_settings_docker.yml
      - ALLOW_IP_RANGE=0.0.0.0/0
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "${POSTGRES_DB}"]
      interval: 10s
      timeout: 10s
      retries: 10
    restart: on-failure
  api:
    container_name: ops-api
    image: openpoi:latest
    volumes:
      - ./osm:/deploy/app/osm
      - ./ops_settings_docker.yml:/deploy/app/openpoiservice/server/ops_settings.yml
      - ./categories_docker.yml:/deploy/app/openpoiservice/server/categories/categories.yml
    ports:
      - "5000:5000"
    mem_limit: 28g
    depends_on:
      db:
        condition: service_healthy
  init:
    container_name: ops-init
    image: openpoi:latest
    environment:
      - INIT_DB=1
    volumes:
      - ./osm:/deploy/app/osm
      - ./import-log.json:/deploy/app/import-log.json
      - ./ops_settings_docker.yml:/deploy/app/openpoiservice/server/ops_settings.yml
      - ./categories_docker.yml:/deploy/app/openpoiservice/server/categories/categories.yml
    depends_on:
      db:
        condition: service_healthy
  data-management:
    build:
      context: .
      dockerfile: docker/Dockerfile
    restart: unless-stopped
    image: multimodal-api-data-management:latest
    container_name: data-management
    volumes:
      - ./database.db:/code/database.db
    ports:
      - "80:80"

volumes:
  postgis-data:
